################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersianDate.Standard/obj
/PersianDate.Standard/bin/Debug
/Persiandate/obj/Release
